img {
  display: block;
}

body {
  background-color: #fff;
  color: #111;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 14px;
  /* height: 100%; */
}

.container {
  width: 1180px;
  margin: 0 auto;
}
