.hero {
  background-color: #eee;
  padding-bottom: 80px;
}

.hero .photo {
  display: flex;
  justify-content: center;
}
/*
.hero .btn {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.body .item {
  display: flex;
  margin-top: 69px;
  margin-bottom: 125px;
  justify-content: center;
}

.body .btn {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
} */

/* 
.hero .title {
  display: flex;
  padding-top: 60px;
  justify-content: center;
}

.hero .photo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero .bg {
  margin-top: 253px;
  height: 180px;
  background: url(../image/event/1/bg_event_cont\ 1.png);
  background-position: center;
  object-fit: cover;
  background-repeat: repeat;
}

.body {
  height: 1300px;
  background-color: #224aa9;
}

.body .item {
  padding-top: 42px;
  display: flex;
  justify-content: center;
  position: relative;
}

.body .item .btn {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
} */
